body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 13px;
}
textarea {
  font-family: "Monaco", "Courier New", monospace;
}
a {
  text-decoration: none;
}
h2 span {
  color: #999;
}
a.delete {
  color: #c00;
  text-decoration: none;
  margin-left: 5px;
  font-size: 11px;
  display: none;
}
.record {
  padding: 3px 0;
}

.record .display {
  width: 300px;
}
.record .path {
  font-family: "Monaco", "Courier New", monospace;
  color: #888;
  font-size: 11px;
}
a.delete:hover {
  font-weight: bold;
}

.deletable li:hover a.delete {
  display: inline;
}

#editor { 
  width: 90%;
  height: 600px;
}

ul.sortable li:hover {
  cursor: move;
}

.tip {
  color: #666;
}