textarea {
  font-family: "Monaco", "Courier New", monospace;
}
h2 span {
  color: #999;
}    
#editor { 
  margin: 0;
  position: absolute;
  top: 150;
  bottom: 0;
  left: 0;
  right: 0;
}

ul.sortable li:hover {
  cursor: move;
}

.tip {
  color: #666;
}